@font-face {
  font-family: "Gowun Dodum";
  src: url("../fonts/GowunDodum-Regular.ttf");
}

@font-face {
  font-family: "Gowun Batang";
  src: url("../fonts/GowunBatang-Regular.ttf");
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("../fonts/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../fonts/NanumMyeongjo-Regular.ttf");
}

@font-face {
  font-family: "Nanum Pen";
  src: url("../fonts/NanumPenScript-Regular.ttf");
}

@font-face {
  font-family: "Nanum Brush";
  src: url("../fonts/NanumBrushScript-Regular.ttf");
}

@font-face {
  font-family: "Jua";
  src: url("../fonts/Jua-Regular.ttf");
}

@font-face {
  font-family: "Sunflower";
  src: url("../fonts/Sunflower-Medium.ttf");
}

@font-face {
  font-family: "Dokdo";
  src: url("../fonts/Dokdo-Regular.ttf");
}

@font-face {
  font-family: "Gaegu Light";
  src: url("../fonts/Gaegu-Light.ttf");
}

@font-face {
  font-family: "Gaegu";
  src: url("../fonts/Gaegu-Regular.ttf");
}

@font-face {
  font-family: "Cute";
  src: url("../fonts/CuteFont-Regular.ttf");
}

@font-face {
  font-family: "Dongle";
  src: url("../fonts/Dongle-Regular.ttf");
}

@font-face {
  font-family: "Single Day";
  src: url("../fonts/SingleDay-Regular.ttf");
}

@font-face {
  font-family: "Yeon Sung";
  src: url("../fonts/YeonSung-Regular.ttf");
}

@font-face {
  font-family: "Hamlet";
  src: url("../fonts/Hahmlet-VariableFont_wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Gowun Batang, Gowun Dodum, Noto Sans;
  /* background-color: #fcfaef; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Dodum {
  font-family: "Gowun Dodum";
}

.Batang {
  font-family: "Gowun Batang";
}

.Arvo {
  font-family: "Arvo";
}

.textfield {
  color: "#FCFAEF";
}

.textfield__label {
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
