@font-face {
  font-family: "Gowun Dodum";
  src: url("../fonts/GowunDodum-Regular.ttf");
}

@font-face {
  font-family: "Gowun Batang";
  src: url("../fonts/GowunBatang-Regular.ttf");
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Gowun Batang, Gowun Dodum;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Dodum {
  font-family: "Gowun Dodum";
}

.Batang {
  font-family: "Gowun Batang";
}

.Arvo {
  font-family: "Arvo";
}

.textfield {
  color: "#FCFAEF";
}

.textfield__label {
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  float: left;
  margin: 1em;
  position: relative;
  width: 189px;
  height: 328px;
  perspective: 600px;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.card:hover .front {
  transform: rotateY(-180deg);
  transition: all 0.3s ease;
  z-index: 0;
}

.card:hover .back {
  transform: rotateY(-180deg);
  transition: all 0.3s ease;
  z-index: 1;
}
